{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block content%}

<form method="POST">
	<h3 align="center"> Login</h3>
	<div class="form-group">
		<label>Email Address
			<input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
		</label>
		<label>Enter Password
			<input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
		</label>
		
	</div>
	<button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %}
